.prevCard {
  left: calc(0% + 2rem);
}

.activeCard {
left: 50%;
transform: translateX(-50%);
}

.nextCard {
  left: 100%;
  transform: translateX(calc(-100% - 2rem));
}

.card-container {
  position: relative;

  width: 36rem;
  height: 22rem;
}