*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 800;
}
.container{
    align-items: center;
    margin-bottom: 65px;
}
.logo{
    width: 30px;
    margin-right: 20px;
}

.category a{
    cursor: pointer;
    color: white;
    text-decoration: none;

}
.category :hover{
    color: #787A91;
     
}
.tool{
    background-color: #24283d;
}


